@import url('./reset.css');



@font-face {
    font-family: 'Inter';
    src: url('./font/Inter-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./font/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./font/Inter-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./font/Inter-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./font/Inter-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}


*{
    font-family: var(--font-family),sans-serif;
}
body{
background: rgb(247, 248, 250);

}

:root {
    --font-family: "Inter", sans-serif;
    --green-color:#59B17A;
    --green-opacity:rgba(89, 177, 122, 0.1);
    --white-color:#FFFFFF;
    --black-color:#1D1E21;
    --grey-color:#F7F8FA;
    --red-color:rgb(232, 80, 80);
  }
